# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [1]:
# imports and load data
import pandas as pd
df_store = pd.read_csv("store_data.csv")

In [2]:
# explore data
describe = df_store.describe()
print(describe)

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

In [3]:
# último mês:
print (df_store['week'].tail(1))

199    2018-02-25
Name: week, dtype: object

In [4]:
# Loja com melhor resultado no último mês
# Filtrando pelo período
df_store['week']

# Selecionamos o intervalo de tempo, somamos as colunas, 
#  excluimos a week da seleção e pegamos o índice com maior valor
print("Loja com melhor resultado no último mês: {0}".format(
             df_store[(df_store['week'] > '2018-02-01') & 
             (df_store['week'] < '2018-03-01')].sum(axis=0)[1:].idxmax()))

Loja com melhor resultado no último mês: storeA

In [5]:
# average sales
describe

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

In [6]:
# Qual loja vendeu mais durante a semana de 13 de março de 2016?
print("Loja que mais vendeu durante a semana de 13 de março de 2016: {0}".format(
            df_store[(df_store['week'] > '2016-03-12') & 
             (df_store['week'] < '2016-03-21')].sum(axis=0)[1:].idxmax()))

Loja que mais vendeu durante a semana de 13 de março de 2016: storeD

In [7]:
# Em qual semana a loja C tem o pior resultado de vendas?
print("A loja C tem o pior resultado de vendas na semana: {0}".format(
        df_store.iloc[df_store['storeC'].idxmin()]['week']))

A loja C tem o pior resultado de vendas na semana: 2014-07-06

In [8]:
# Qual vendeu mais nos últimos três meses?

# Podemos ver os últimos 3 meses vendo as últimas linhas
last_period = df_store.tail(1)

# Porém, para treinarmos vamos calcular esses meses
# Primeiro precisamos converter a string para datetime
df_store['week'] = pd.to_datetime(df_store['week'] )

# Vamos calcular quais são os últimos 3 meses
period_start = df_store['week'].max() -  pd.DateOffset(months=3)
period_end = df_store['week'].max()

print("A loja que mais vendeu nos últimos 3 meses foi:{0}".format(
       df_store[(df_store['week'] >= period_start) & 
             (df_store['week'] <= period_end)].sum(axis=0).idxmax()))

A loja que mais vendeu nos últimos 3 meses foi:storeA